@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }
}

@mixin transition-all($duration: 0.2s, $ease: ease-out) {
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    transition: all $duration $ease;
}

