//
// Elements - Core HTML
//

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    background-color: $body-bg;
    overflow-x: hidden;
}

section {
    padding: 0;
}

main {
    padding: 1.5rem 0;
}

hr {
    border-top: $hr-border-width solid $hr-border-color;
}

small,
.small {
    font-size: $small-font-size;
    font-weight: $font-weight-normal;
}
