// 
// Utility mixins and functions for evalutating source code across our variables, maps, and mixins.
//

// Color contrast - sets the button color according to background
@mixin color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= 150) {
    color: #111;
  } @else {
    color: #fff;
  }
}

// Retreive color Sass maps
@function color($key: 'blue') {
  @return map-get($colors, $key);
}

@function theme-color($key: 'primary') {
  @return map-get($theme-colors, $key);
}

@function grayscale($key: '100') {
  @return map-get($grays, $key);
}

// end
