//
// Tooltips
//

$tooltip-max-width:           12rem !default;
$tooltip-color:               $white !default;
$tooltip-bg:                  $black !default;
$tooltip-opacity:             .9 !default;
$tooltip-padding-y:           .25rem !default;
$tooltip-padding-x:           .5rem !default;
$tooltip-margin:              0 !default;

$tooltip-arrow-width:         .375rem !default;
$tooltip-arrow-height:        .375rem !default;
$tooltip-arrow-color:         $tooltip-bg !default;
